@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: #fff;
}

#main > h1 span img {
  /* rotate: 90deg; */
  height: 40px;
  transition: 0.3s ease;
}

#encryption textarea {
  outline: none;
}
#encryption input {
  outline: none;
}


#decryption textarea {
  outline: none;
}
#decryption input {
  outline: none;
}

